@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: black;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css */

/* Zoom Animation */
@keyframes zoom {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

/* Fade-In Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Fade-Out Animation */
/* Fade-In Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Fade-Out Animation */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Zoom Animation */
@keyframes zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

/* Apply Animations */
.zoom-animation {
  animation: zoom 8s linear infinite;
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.fade-out {
  animation: fadeOut 1s ease-in-out;
}

.feature-card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}